---
layout: default
---

{% assign minutes = content | strip_html | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

<div class="post-header mb2">
  <h1>{{ page.title }}</h1>
  <span class="post-meta">{{ page.date | date: site.date_format }}</span><br>
  {% if page.update_date %}
    <span class="post-meta">{{ site.text.post.updated | default: "Updated" }}: {{ page.update_date | date: site.date_format }}</span><br>
  {% endif %}
  <span class="post-meta small">
  {% if page.minutes %}
    {{ page.minutes }} {{ site.text.post.minute_read | default: "minute read" }}
  {% else %}
    {{ minutes }} {{ site.text.post.minute_read | default: "minute read" }}
  {% endif %}
  </span>
</div>

<article class="post-content">
  {{ content }}
</article>

{% if site.show_sharing_icons %}
  {% include share_buttons.html %}
{% endif %}

<br>

<!-- Page navigation begin -->
<table style='font-size:70%; table-layout:fixed'>
  <tr>
    <th>{% if page.previous.url %}
      <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    {% endif %}</th>
    <th>  {% if page.next.url %}
      <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>{% else %}<p style='font-size:100%'><em>This is the latest post!</em></p>
    {% endif %}</th>
  </tr>
</table>
<!-- Page navigation end -->

{% if site.show_post_footers %}
  {% include post_footer.html %}
{% endif %}


{% if site.show_related_posts %}
  <h3 class="related-post-title">{{ site.text.post.related_posts | default: "Related Posts" }}</h3>
  {% for post in site.related_posts %}
    <div class="post ml2">
      <a href="{{ post.url | relative_url }}" class="post-link">
        <h4 class="post-title">{{ post.title }}</h4>
        <p class="post-summary">{{ post.summary }}</p>
      </a>
    </div>
  {% endfor %}
{% endif %}
